[Unit]
Description=LibreRead systemd service

[Service]
User=root
Group=root
WorkingDirectory=/var/libreread
ExecStart=/bin/bash -c './server'

[Install]
WantedBy=multi-user.target